{% extends 'base.html' %}
{% block body %}
{% for user in users%}
<h3 style="border: 1px solid blue;padding-bottom: 10px;" class="d-flex justify-content-between">
    <span class="p-2">user :{{user.full_name}}</span>
    <span class="p-2">email :{{user.email}}</span>
    <span class="p-2">phone :{{user.phone_number}}</span>
    <span class="p-2">is_active :{{user.is_active}}</span>
    <span class="p-2"><a href="{% url 'accounts:admin_delete_user' user.id %}" class="btn btn-danger">Delete</a></span>
</h1>
{% endfor %}
{% endblock %}