{% extends 'base.html' %}
{% load static %}
{% block header %}<link rel="stylesheet" href="{% static 'todo/css/style.css' %}">{% endblock %}
{% block body %}
<form action="" method="get" novalidate>
    <input type="submit" value="Search">
    {{search_form}}

</form><br />

<div class="add_todo_btn"><a href="{% url 'todo:todo_add'  %}" class="btn btn-info add_todo_btn_a">Add Todo</a></div>
<div class="todo_container">
    {% for todo in todos %}

    <a href="{% url 'todo:todo_detail' todo.id %}">
        <div class="todo_item">
            <div class="todo_flex_item_texts">
                <h5 class="gray_color todo-text">{{todo.title}}</h5><br />
                <p class="gray_color todo_time">{{todo.created|timesince}}</p>
            </div>
            <div class="todo_flex_item_btns">
                <div>
                    <a href="{% url 'todo:todo_delete' todo.id %}" class="btn btn-danger  mybtn">Delete</a>
                    {% if todo.done %}
                    <a href="{% url 'todo:todo_done_edit' todo.id %}" class="btn btn-success  mybtn">Done</a>
                    {% else %}
                    <a href="{% url 'todo:todo_done_edit' todo.id %}"
                        class="btn btn-secondary todo_flex_item mybtn">Done</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </a>
    {% empty %}
    <h2>let add some todos... !</h2>
    {% endfor %}
</div>
{% endblock %}